
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    overflow:hidden
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(100, 100, 196);
    height:13vh;
    color:white;
}
.main{
    width:100vw;
    height:87vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden
}

.card{
    width:250px;
    height:300px;
    display:flex;
    flex-direction: column;
    padding:20px;
    padding-top:0;
    border:1px solid black;
    gap:20px;
}

.login-section,.signup-section{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.filter-buttons{
    display:flex;
    width:100%;
}
.filterBtn{
    display:flex;
    width:50%;
 justify-content: center;
}